---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <h1 class="font-semibold">Hola mundo</h1>
</Layout>

<!-- <script>
  import { gsap } from 'gsap';

  gsap.from('#titulo', {
    duration: 1,
    opacity: 0,
    y: -50,
    ease: 'power2.out'
  });
</script> -->