---
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>Facets</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  @import "tailwindcss";

  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inter-latin-400-normal.woff2") format("woff2");
  }

  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/inter-latin-500-normal.woff2") format("woff2");
  }

  @font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2");
  }

  @theme {
    --font-display: "ClashDisplay", sans-serif;
    --font-body: "Inter", sans-serif;
  }

  @layer base {
    body {
      font-family: var(--font-body);
    }
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
